@charset "utf-8";
/*@font-face {
    font-family: 'qh';
    src: url('');
    font-weight: normal;
    font-style: normal;

}*/
body {
	background-color: #fff;
	position: relative;
	z-index: -2;
	-webkit-tap-highlight-color: transparent;
}
body,
h2,
h3,
h4,
h5,
p,
figure {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
.adv-wrapper {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #444;
}
.adv-bar {
	width: 976px;
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
	line-height: 40px;
	color: #a8a8aa;
}
@media only screen and (max-width: 1023px) {
	.adv-bar {
		width: auto;
		padding: 0 25px;
	}
}
@media only screen and (max-width: 767px) {
	.adv-bar {
		padding: 0 16px;
	}
}
.list-wrapper {
	width: 100%;
	height: 44px;
	background-color: rgba(0, 0, 0, .8);
	position: relative;
}
.list-bar {
	max-width: 980px;
	margin: 0 auto;
	font-size: .12rem;
	line-height: 0;
	color: #a8a8aa;
}
@media only screen and (min-width: 1044px) {
	.list-bar {
		min-width: 320px;
	}
}
.list-bar .pcul {
	text-align: justify;
	width: 100%;
}
.list-bar .pcul:after {
	content: "";
	width: 100%;
	height: 0;
	line-height: 0;
	display: inline-block;
}
.mul {
	display: none;
}
.list-wrapper-li {
	display: inline-block;
	vertical-align: top;
}
.list-wrapper-li>a {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 44px;
	padding: 0 10px;
	vertical-align: top;
	transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.list-wrapper-li>a:hover {
	opacity: .65;
}
.list-wrapper-li>a>span {
	position: absolute;
	top: 50%;
	width: 1px;
	height: 1px;
	overflow: hidden;	
}
.list-wrapper-li:nth-of-type(1)>a {
	background: url(apple.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(2)>a {
	background: url(mac.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(3)>a {
	background: url(ipad.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(4)>a {
	background: url(iphone.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(5)>a {
	background: url(watch.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(6)>a {
	background: url(music.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(8)>a {
	background: url(search.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(7)>a {
	background: url(support.svg) no-repeat center center;
}
.list-wrapper-li:nth-of-type(9)>a {
	background: url(bag.svg) no-repeat center center;
}
#menu {
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	width: 48px;
	height: 48px;
	top: 40px;
}
@media only screen and (max-width: 767px) {
	.list-bar {
		display: none;
	}
	.mul {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 48px;
		text-align: justify;
	}
	.adv-wrapper {
		height: 44px;
	}
	.list-wrapper {
		height: 48px;
		background-color: rgba(0, 0, 0, 1);
		z-index: 10;
	}
	.adv-bar {
		line-height: 44px;
	}
}
.mul:after {
	content: "";
	width: 100%;
	height: 0;
	line-height: 0;
	display: inline-block;
}
.mul>li {
	display: inline-block;
	vertical-align: top;
	transition: 1s .2s;
}
.mul>li:nth-of-type(2) a {
	display: block;
	width: 30px;
	height: 48px;
	background: url(apple.svg) no-repeat center center;
}
.mul>li:nth-of-type(3) a {
	display: block;
	left: 0;
	width: 30px;
	height: 48px;
	background: url(bag.svg) no-repeat center center;
	transition: 1s;
}
.mul>li:nth-of-type(1) {
	width: 48px;
	height: 48px;
	position: relative;
}
.mul>li:nth-of-type(1) label {
	display: inline-block;
	position: absolute;
	width: 48px;
	height: 48px;
}
.mul>li:nth-of-type(1) span{
	width: 17px;
	height: 1px;
	position: absolute;
	background-color: #fff;
}
.mul>li:nth-of-type(1) span:nth-of-type(1){
	left: 16px;
	top: 20px;
	transition: .4s .2s;
}
.mul>li:nth-of-type(1) span:nth-of-type(2){
	left: 16px;
	top: 26px;
	transition: .4s .2s;
}
#menu:checked~.list-wrapper {
	position: relative;
	top: 0;
}
#menu:checked~.list-wrapper>.mul>li:nth-of-type(1)>label>span:nth-of-type(1){
	transform: rotate(135deg);
	top: 23px;
}
#menu:checked~.list-wrapper>.mul>li:nth-of-type(1)>label>span:nth-of-type(2){
	transform: rotate(45deg);
	top: 23px;
}
#menu:checked~.adv-wrapper {
	display: none;
}
.mul>li:hover label{
	cursor: pointer;
}
.mul>li:hover {
	opacity: .7;
}
.list-wrapper2 {
	z-index: 5;
}
.list-wrapper2>ul>li {
	border-bottom: thin solid #333;
	transform: scale(1.05);
}
.list-wrapper2>ul a {
	display: block;
	height: 44px;
}
.list-wrapper2>ul li:nth-of-type(1) a {
	background: url(mac_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(2) a {
	background: url(ipad_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(3) a {
	background: url(iphone_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(4) a {
	background: url(watch_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(5) a {
	background: url(music_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(6) a {
	background: url(support_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(7) a {
	background: url(search_small.svg) no-repeat left center;
}
.list-wrapper2>ul li:nth-of-type(1) {
	transition: .5s .1s;
}
.list-wrapper2>ul li:nth-of-type(2) {
	transition: .5s .2s;
}
.list-wrapper2>ul li:nth-of-type(3) {
	transition: .5s .3s;
}
.list-wrapper2>ul li:nth-of-type(4) {
	transition: .5s .4s;
}
.list-wrapper2>ul li:nth-of-type(5) {
	transition: .5s .5s;
}
.list-wrapper2>ul li:nth-of-type(6) {
	transition: .5s .6s;
}
.list-wrapper2>ul li:nth-of-type(7) {
	transition: .5s .7s;
}
.list-wrapper2>ul li:nth-of-type(7) a span {
	display: block;
	margin-left: 24px;
	font-family: helvatica;
	font-size: 17px;
	line-height: 2.52947;
	color: rgba(255, 255, 255, 1);
}
.list-wrapper2>ul li>a:hover {
	opacity: .7;
	transition: .2s;
}
.list-wrapper2 li:nth-of-type(7) {
	border-bottom-color: rgba(255, 255, 255, .7);
}
.list-wrapper2 {
	height: 0;
	width: 100%;
	width: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 1);
}
.list-wrapper2>ul {
	position: relative;
	z-index: 999;
	margin: 0 auto;
	padding: 0 48px;
	height: 0;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	transition: .5s .4s ease-out;
}
#menu:checked~.list-wrapper2 {
	z-index: 998;
	top: 0;
	transition: height .1s .1s ease-out;
}
#menu:checked~.list-wrapper2 li {
	transform: scale(1);
}
#menu:checked~.list-wrapper2>ul {
	height: 500px;
	width: 100%;
	box-sizing: border-box;
}
.mul>li:nth-of-type(3) {
	position: relative;
	left: 0;
}
#menu:checked~.list-wrapper>.mul li:nth-of-type(3) {
	left: 50px;	
}

.fact-wrapper {
	width: 80%;
	box-sizing: content-box;
	max-width: 980px;
    border-bottom: 1px solid #d6d6d6;
    color: #888;
    padding: 17px 0 11px;	
    margin: 0 auto;
}
.fact {
	font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
}
@media only screen and (max-width: 1112px) {
	.fact-wrapper {
	width: 80%;
	box-sizing: content-box;
    margin: 0 auto;
	}
}
.footer-list {
	font-size: 0;
	max-width: 980px;
	width: 80%;
	margin: 0 auto;
}
@media only screen and (min-width: 768px) {
	.footer-list {
		max-width: 980px;
		text-align: justify;
	}
	.footer-list:after {
		content: "";
		width: 100%;
		height: 0;
		line-height: 0;
	}
	.footer-list>li {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	}
	.moreh {
		padding-top: 26px;
	}
}
.footer-list h5 {
	margin-bottom: 6px;
	font-size: 11px;
    line-height: 1.27273;
    font-weight: 600;
    color: #333;
    cursor: default;
}
.footer-list ul>li a {
	display: block;
	padding-bottom: 6px;
	font-size: 11px;
    line-height: 1.27273;
    font-weight: 400;
    color: #333;
} 
.footer-list ul>li a:hover {
	text-decoration: underline;
}
.pro-wrapper {
	background-color: #f2f2f2;
}
.footer-wrapper {
	background-color: #f2f2f2;
	padding-top: 48px;
	z-index: 2;
}
.footer-wrapper1 {
	padding: 0;
}
.footer-wrapper input {
	display: none;
}
.morea {
	color: rgb(0, 112, 201);
}
.morea:hover {
	text-decoration: underline;
}
.footer p,
footer span {
	font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
}
.footera {
	color: #888;
}
.footera:hover {
	text-decoration: underline;
}
.morefootera {
	padding: 0 10px;
	border-right: thin solid #888;
}
.morefootera:hover {
	color: #000;
}
.morefootera:nth-last-of-type(1) {
	border-right: none;
}
.fir-p {
	overflow: hidden;
}
.fir-p span {
	float: left;
}
.fir-p a {
	float: left;
}
.fir-p a:last-of-type {
	float: right;
}
.fir-p a:last-of-type:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 16px;
	height: 21px;
	background: url(../img/16.png) no-repeat;
}
@media only screen and (max-width: 767px) {
	/*.footer-wrapper {
		position: relative;
		top: -48px;
	}*/
	.footer-wrapper h5 {
		padding: 10px 0;
		margin: 0;
		cursor: pointer;
	}
	.footer-wrapper h5:hover {
		color: #000;
	}
	.footer-wrapper a:hover {
		color: #000;
	}
	.footer-wrapper h5:after {
		content: '+';
	    float: right;
	    font-size: 14px;
	    font-weight: normal;
	    margin-top: -2px;
	    margin-right: 8px;
	    transition: .3s;
	}
	.footer-list>li {
		display: block;
		border-bottom: 1px solid #d6d6d6;
	}
	.mored {
		border-bottom: 1px solid #d6d6d6;
	}
	.footer-wrapper input:nth-of-type(1)~ul>li:nth-of-type(1) label+ul,
	.footer-wrapper input:nth-of-type(2)~ul>li:nth-of-type(2) label+ul,
	.footer-wrapper input:nth-of-type(3)~ul>li:nth-of-type(3) div:nth-of-type(1) label+ul,
	.footer-wrapper input:nth-of-type(4)~ul>li:nth-of-type(3) div:nth-of-type(2) label+ul,
	.footer-wrapper input:nth-of-type(5)~ul>li:nth-of-type(4) div:nth-of-type(1) label+ul,
	.footer-wrapper input:nth-of-type(6)~ul>li:nth-of-type(4) div:nth-of-type(2) label+ul,
	.footer-wrapper input:nth-of-type(7)~ul>li:nth-of-type(5) label+ul{
		height: 0;
		overflow: hidden;
	}
	.footer-wrapper input:nth-of-type(1):checked~ul>li:nth-of-type(1) label+ul {
		height: 189px;
		transition: .5s;
	}
	.footer-wrapper input:nth-of-type(2):checked~ul>li:nth-of-type(2) label+ul {
		height: 231px;
		transition: .5s;
	}
	.footer-wrapper input:nth-of-type(3):checked~ul>li:nth-of-type(3) div:nth-of-type(1) label+ul,
	.footer-wrapper input:nth-of-type(4):checked~ul>li:nth-of-type(3) div:nth-of-type(2) label+ul {
		height: 42px;
		transition: .5s;
	}
	.footer-wrapper input:nth-of-type(5):checked~ul>li:nth-of-type(4) div:nth-of-type(1) label+ul {
		height: 63px;
		transition: .5s;
	}
	.footer-wrapper input:nth-of-type(6):checked~ul>li:nth-of-type(4) div:nth-of-type(2) label+ul {
		height: 84px;
		transition: .5s;
	}
	.footer-wrapper input:nth-of-type(7):checked~ul>li:nth-of-type(5) label+ul {
		height: 105px;
		transition: .5s;
	}
	.footer-wrapper input:nth-of-type(1):checked~ul>li:nth-of-type(1) label h5:after,
	.footer-wrapper input:nth-of-type(2):checked~ul>li:nth-of-type(2) label h5:after,
	.footer-wrapper input:nth-of-type(3):checked~ul>li:nth-of-type(3) div:nth-of-type(1) label h5:after,
	.footer-wrapper input:nth-of-type(4):checked~ul>li:nth-of-type(3) div:nth-of-type(2) label h5:after,
	.footer-wrapper input:nth-of-type(5):checked~ul>li:nth-of-type(4) div:nth-of-type(1) label h5:after,
	.footer-wrapper input:nth-of-type(6):checked~ul>li:nth-of-type(4) div:nth-of-type(2) label h5:after,
	.footer-wrapper input:nth-of-type(7):checked~ul>li:nth-of-type(5) label h5:after {
		transform: rotate(135deg);
		transform-origin: 5.5px 9.5px; 
	}
	.morefact {
		border-bottom: none;
	}
	.fir-p a:last-of-type {
		padding-left: 0;
		float: left;
		clear: both;
		line-height: 50px;
	}
	.fir-p a:first-of-type {
		padding-left: 0;
	}
	.fir-p span {
		display: block;
		width: 100%;
	}
	.footer {
		border-bottom: none;
	}
}
.detail-list-wrapper {
	width: 100%;
	background-color: #2d2d2d;
	padding: 56px 0 0;
	margin-top: -44px;
}
.detail-list {
	margin: 0 auto;
	overflow: hidden;
	height: 98px;
	width: 70%;
	font-size: 0;
	text-align: center;
	font-size: 0;
}
.detail-list>li {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.detail-list a span:nth-of-type(1) {
	display: block;
	height: 56px;
	margin-bottom: 6px;
}
.detail-list a span:nth-of-type(2) {
	display: block;
	width: 100%;
	font-size: 11px;
    line-height: 1.09091;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.detail-list a span:nth-of-type(3) {
	display: block;
	width: 100%;
	font-size: 9px;
    line-height: 1.22226;
    font-weight: 400;
    text-align: center;
    color: #f46c0e;
}
.detail-list a {
	display: block;
}
.detail-list a:hover span:nth-of-type(2) {
	color: #6bf;
}
.detail-list>li:nth-of-type(1) span:nth-of-type(1) {
	background: url(macbook_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(1) {
	padding-right: 22px;
}
.detail-list>li:nth-of-type(2) span:nth-of-type(1) {
	background: url(macbookair_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(2),
.detail-list>li:nth-of-type(3) {
	padding: 0 18px;
}
.detail-list>li:nth-of-type(3) span:nth-of-type(1) {
	background: url(macbookpro_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(4) span:nth-of-type(1) {
	background: url(imac_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(4) {
	width: 48px;
	padding: 0 22px;
}
.detail-list>li:nth-of-type(5) span:nth-of-type(1) {
	background: url(imac_pro_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(5) {
	padding: 0 22px;
}
.detail-list>li:nth-of-type(6) span:nth-of-type(1) {
	background: url(macpro_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(6) {
	padding: 0 18px;
}
.detail-list>li:nth-of-type(7) span:nth-of-type(1) {
	background: url(macmini_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(7) {
	padding: 0 16px;
}
.detail-list>li:nth-of-type(8) span:nth-of-type(1) {
	background: url(mac_acc_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(8) {
	padding: 0 20px;
	width: 29px;
}
.detail-list>li:nth-of-type(9) span:nth-of-type(1) {
	background: url(mac_osx_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(9) {
	padding: 0 18px;
}
.detail-list>li:nth-of-type(10) span:nth-of-type(1) {
	background: url(mac_comp_dark_large.svg) no-repeat center bottom;
}
.detail-list>li:nth-of-type(10) {
	padding: 0 0 0 18px;
	width: 70px;
}
.img-wrapper1 {
	width: 100%;
	height: 951px;
	padding-top: 74px;
	margin-bottom: 50px;
	text-align: center;
	background: url(../img/imac_pro_large.jpg) center 160px/auto 100% no-repeat #1a1a1a;
	background-origin: content-box;
	background-size: 769px 791px;
}

.img-wrapper1 h5 {
    color: #888;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}
.img-wrapper1 h5 span {
	padding: 1px 10px;
    border: 1px solid #888;
    border-radius: 4px;
}
.img-wrapper1 h2 {
	font-size: 76px;
    line-height: 1.0625;
    font-weight: 500;
    letter-spacing: -.02em;
    margin-bottom: 20px;
    color: #fff;
}
.img-wrapper1 h3 {
	padding-left: 0.8em;
	line-height: 1.175;
	font-size: 36px;
    font-weight: 500;
    letter-spacing: .008em;
    color: #fff;
}
.img-wrapper1 p {
	font-size: 22px;
    line-height: 1.38462;
    font-weight: 200;
    letter-spacing: .016em;
    margin-top: 22px;
}
.img-wrapper1 p:after {
	content: " ";
	color: #6bf;
    display: inline-block;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    font-family: "qh";
}
.img-wrapper1 p a {
	color: #6bf;
	margin: 0 10px;
}
.img-wrapper1 p a:hover {
	text-decoration: underline;
}
.img-wrapper2 {
	height: 1068px;
	background-image: url(../img/imac_large.jpg);
	background-size: 1047px 738px;
	background-position: center 250px;
	background-color: #fafafa;
	color: rgb(51, 51, 51);
}
.img-wrapper2 h2,
.img-wrapper2 h3 {
 	color: rgb(51, 51, 51);
}
.img-wrapper3 {
	height: 655px;
	background-image: url(../img/macbookpro_tb_large.jpg);
    background-size: 1350px 721px;
	background-position: center -65px;
}
.img-wrapper4 {
	height: 666px;
	background-image: url(../img/macbook_large.jpg);
    background-size: 955px 341px;
	background-position: center 270px;
}
.img-wrapper5 {
	height: 566px;
	background-color: #fafafa;
	background-image: url(../img/compare_large.jpg);
    background-size: 757px 341px;
	background-position: center 170px;
}
.img-wrapper6 {
	height: 337px;
	background: #fafafa;
}
.img-wrapper6 h2 {
	font-size: 42px;
	font-weight: 500;
	line-height: 1.14615;
}
.img-wrapper6 h3 {
	font-size: 18px;
	font-weight: 400;
}
.img-wrapper7 {
	padding-top: 0;
	padding-left: 45%;
	width: 55%;
	background-image: url(../img/mac_collegebeats_lockup_banner_large.jpg);
	height: 444px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.img-wrapper7 h2,
.img-wrapper7 h3,
.img-wrapper7 p {
	margin-left: 100px;
	width: 80%;
}
.img-wrapper7 h2 {
	padding-top: 100px;
	font-size: 36px;
	text-align: left;
}
.img-wrapper7 h3 {
	padding-left: 0;
	font-size: 16px;
	text-align: left;
}
.img-wrapper7 p {
	font-size: 16px;
	text-align: left;
}
.img-wrapper7 p a {
	margin: 0;
}
.trade-wrapper {
	width: 100%;
}
.trade-container {
	margin: 0 auto;
	padding-top: 86px;
    padding-bottom: 130px;
    width: 980px;
    overflow: hidden;
    text-align: center;
}
.installment {
	float: left;
	width: 50%;
	font-size: 0;
}
.installment figure {
	display: block;
	width: 38px;
    height: 44px;
    margin: 0 auto;
    background: url(../img/icon_pickup_large.png) no-repeat;
    background-size: 100% 100%;
}
.delivery figure {
	background-image: url(../img/icon_shipping_large.png); 
}
.installment h2 {
	margin-bottom: .18421em;
    margin-top: .47368em;
    font-weight: 500;
	font-size: 24px;
    line-height: 1.20849;
}
.installment p,
.installment a {
	font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.installment a {
	color: #0070c9;
}
.delivery {
	float: left;
	width: 50%;	
}
.installment a:hover {
	text-decoration: underline;
}
.img-wrapper8 {
	height: 650px;
	background-image: url(../img/accessories_large.jpg);
	background-size: 1359px 528px;
	background-repeat: no-repeat;
	background-position: center 191px;
}
.img-wrapper9 {
	width: 100%;
	padding-top: 65px;
	padding-bottom: 80px;
}
.img-wrapper9-container {
	max-width: 980px;
	margin: 0 auto;
}
.img-wrapper9-bg figure {
	margin: 0 auto;
	width: 991px;
    height: 577px;
    background-size: 991px 577px;
    background-repeat: no-repeat;
    background-image: url(../img/macos_icloud_large.jpg);
}
.img-wrapper9-content {
	width: 90%;
	margin: 35px auto 0;
	overflow: hidden;
}
.img-wrapper9-left  {
	float: left;
	width: 45%;
}
.img-wrapper9-right  {
	float: right;
	width: 50%;
}
.img-wrapper9-content h2 {
	font-size: 36px;
	line-height: 1.17;
	font-weight: 500;
}
.img-wrapper9-content h3 {
	font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    margin-top: .7em;
}
.img-wrapper9-content p {
	font-size: 17px;
	margin-top: .7em;
}
.img-wrapper9-content a {
	color: #0070c9;
    line-height: 1.52947;
} 
.img-wrapper9-content a:hover {
	text-decoration: underline;
}
.img-wrapper10 {
	margin-bottom: 50px;
	width: 100%;
	background-image: url(../img/macos_highsierra_large.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}
.img-wrapper10-container {
	margin: 0 auto;
	padding-top: 70px;
	max-width: 980px;
	height: 430px;
	color: #fff;
}
.img-wrapper10-container span {
	padding: 1px 10px;
	margin-left: 80px;
	font-size: 12px;
    line-height: 1.5;
	border: 1px solid #fff;
    border-radius: 5px;
}
.img-wrapper10-container h2 {
	width: 50%;
	margin-left: 80px;
	font-size: 42px;
    line-height: 2;
    font-weight: 500;
}
.img-wrapper10-container h3 {
	width: 50%;
	margin-left: 80px;
	font-size: 14px;
    line-height: 2;
    font-weight: 400;
}
.img-wrapper10-container p {
	width: 50%;
	margin-left: 80px;
	font-size: 14px;
    line-height: 3;
    font-weight: 400;
}
.img-wrapper10-container a {
	color: #fff;
}
.img-wrapper10-container a:hover {
	text-decoration: underline;
}
.img-wrapper11 {
	margin-bottom: 50px;
	padding-bottom: 100px;
	width: 100%;
	background-color: #fafafa;
}
.img-wrapper11-container {
	max-width: 980px;
	margin: 0 auto;
	padding-top: 80px;
	font-size: 0;
}
.img-wrapper11-container>h2 {
	margin: 0 auto;
	text-align: center;
	width: 80%;
	font-size: 36px;
	line-height: 3;
	font-weight: 500;
}
.img-wrapper11-container h4 {
	margin: 0 auto;
	width: 80%;
	text-align: center;
    font-size: 22px;
    line-height: 1.45455;
    font-weight: 300;
}
.img-wrapper11-container h4 a {
	font-weight: 500;
}
.img-wrapper11-container h4 a:hover {
	text-decoration: underline;
}
.img-wrapper11-list1 {
	margin: 80px auto;
	width: 693px;
	border-bottom: 1px solid darkgray;
}
.img-wrapper11-list1:after {
	content: "";
	display: block;
	clear: both;
}
.img-wrapper11-list1 li {
	float: left;
	margin-right: 50px;
}
.img-wrapper11-list1 li:last-of-type {
	margin-right: 0;
}
.img-wrapper11-list1 a {
	display: block;
	color: #333;
}
.img-wrapper11-list1 a:hover  {
	color: #0070c9;
}
.img-wrapper11-list1 a:hover label {
	cursor: pointer;
}
.img-wrapper11-list1 figure {
	width: 48px;
	height: 77px;
	margin: 0 auto;
	background: url(../img/nav_icon_photos_large.jpg) no-repeat;
	background-size: 100% 100%;
}
.img-wrapper11-list1 span {
	display: block;
	text-align: center;
	font-size: 14px;
    line-height: 1.5;
}
.img-wrapper11-list1 li:nth-of-type(2) figure {
	background: url(../img/nav_icon_imovie_large.jpg) no-repeat;
}
.img-wrapper11-list1 li:nth-of-type(3) figure {
	background: url(../img/nav_icon_garageband_large.jpg) no-repeat;
}
.img-wrapper11-list1 li:nth-of-type(4) figure {
	background: url(../img/nav_icon_pages_large.jpg) no-repeat;
}
.img-wrapper11-list1 li:nth-of-type(5) figure {
	background: url(../img/nav_icon_numbers_large.jpg) no-repeat;
}
.img-wrapper11-list1 li:nth-of-type(6) figure {
	width: 40px;
	background: url(../img/nav_icon_keynote_large.jpg) no-repeat;
}
.img-wrapper11-list1 li:nth-of-type(7) figure {
	width: 49px;
	background: url(../img/nav_icon_safari_large.jpg) no-repeat;
}
#inner-radio-1,
#inner-radio-2,
#inner-radio-3,
#inner-radio-4,
#inner-radio-5,
#inner-radio-6,
#inner-radio-7,
#inner-radio-8,
#inner-radio-9,
#inner-radio-10,
#inner-radio-11,
#inner-radio-12 {
	display: none;
}
#inner-radio-1:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(1) span,
#inner-radio-2:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(2) span,
#inner-radio-3:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(3) span,
#inner-radio-4:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(4) span,
#inner-radio-5:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(5) span,
#inner-radio-6:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(6) span,
#inner-radio-7:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(7) span,
#inner-radio-8:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(1) span,
#inner-radio-9:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(2) span,
#inner-radio-10:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(3) span,
#inner-radio-11:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(4) span,
#inner-radio-12:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(5) span
{
	color: #000;
	margin-bottom: -1px;
	border-bottom: 1px solid black;	
}
.img-wrapper11-list2 {
	position: relative;
	width: 980px;
	height: 494px;
}
.img-wrapper11-list2 li {
	position: absolute;
	width: 100%;
	opacity: 0;
	transition: .5s;
}
.figure-wrapper {
	float: left;
	width: 66.66%;
}
.img-wrapper11-list2 .figure-container {
	width: 606px;
	height: 489px;
	background: url(../img/bia_hw_large.png) no-repeat;
}
.img-wrapper11-list2d .figure-container {
	width: 625px;
	height: 436px;
	background: url(../img/gallery_hw_large.png) no-repeat;
}
.img-wrapper11-list2 figure {
	position: relative;
	left: 24px;
	top: 24px;
	width: 556px;
	height: 313px;
	background: url(../img/bia_photos_large.jpg) no-repeat;
}
.img-wrapper11-list2d figure {
	left: 72px;
	top: 18px;
	width: 556px;
	height: 313px;
}
.figure-detail {
	float: right;
	width: 33.33%;
}
.figure-detail h2 {
	font-size: 28px;
	font-weight: 500;
}
.figure-detail h3 {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 400;
}
.figure-detail a {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 400;
	color: #0070c9;
}
.figure-detail a:hover {
	text-decoration: underline;
}
#inner-radio-1:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(1),
#inner-radio-2:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(2),
#inner-radio-3:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(3),
#inner-radio-4:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(4),
#inner-radio-5:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(5),
#inner-radio-6:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(6),
#inner-radio-7:checked~.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(7),
#inner-radio-8:checked~.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(1),
#inner-radio-9:checked~.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(2),
#inner-radio-10:checked~.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(3),
#inner-radio-11:checked~.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(4),
#inner-radio-12:checked~.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(5) {
	opacity: 1;
}
#inner-radio-1:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(1) label,
#inner-radio-2:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(2) label,
#inner-radio-3:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(3) label,
#inner-radio-4:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(4) label,
#inner-radio-5:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(5) label,
#inner-radio-6:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(6) label,
#inner-radio-7:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(7) label,
#inner-radio-8:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(1) label,
#inner-radio-9:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(2) label,
#inner-radio-10:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(3) label,
#inner-radio-11:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(4) label,
#inner-radio-12:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(5) label {
	cursor: default;
}
.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(2) figure {
	background-image: url(../img/bia_imovie_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(3) figure {
	background-image: url(../img/bia_garageband_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(4) figure {
	background-image: url(../img/bia_pages_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(5) figure {
	background-image: url(../img/bia_numbers_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(6) figure {
	background-image: url(../img/bia_keynote_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2c li:nth-of-type(7) figure {
	background-image: url(../img/bia_safari_large.jpg);
}
.img-wrapper11-list1d {
	width: 589px;
}
.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(1) figure {
	background-image: url(../img/nav_icon_finalcut_large.jpg);
}
.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(2) figure {
	background-image: url(../img/nav_icon_logicpro_large.jpg);
}
.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(3) figure {
	background-image: url(../img/nav_icon_motion_large.jpg);
}
.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(4) figure {
	background-image: url(../img/nav_icon_compressor_large.jpg);
}
.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(5) figure {
	background-image: url(../img/nav_icon_mainstage_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(1) figure {
	background-image: url(../img/pro_finalcut_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(2) figure {
	background-image: url(../img/pro_logicpro_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(3) figure {
	background-image: url(../img/pro_mainstage_medium.jpg);
}
.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(4) figure {
	background-image: url(../img/pro_compressor_large.jpg);
}
.img-wrapper11 .img-wrapper11-list2d li:nth-of-type(5) figure {
	background-image: url(../img/pro_mainstage_large.jpg);
}
.img-wrapper12 {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}
.img-wrapper12 figure {
	width: 100%;
	height: 632px;
	background: url(../img/education_large.jpg) no-repeat center center;
}
.img-wrapper12 h2 {
	margin-top: 25px;
	text-align: center;
	width: 100%;
	font-size: 40px;
	font-weight: 500;
	line-height: 2;
}
.img-wrapper12 h4 {
	text-align: center;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}
.img-wrapper12 p {
	font-size: 0;
	width: 100%;
	text-align: center;
}
.img-wrapper12 a {
	color: #0070c9;
	margin-right: 30px;
	font-size: 16px;
	font-weight: 400;
	line-height: 3;
}
.img-wrapper12 a:hover {
	text-decoration: underline;
}
.img-wrapper13 figure {
	background-image: url(../img/business_updated_large.jpg);
}
.img-wrapper11-list2d {
	height: 400px;
}
@media only screen and (max-width: 1068px) {
	.img-wrapper1 {
		margin-bottom: 10px;
		height: 800px;
		background-size: 628px 646px;
		background-image: url(../img/imac_pro_medium.jpg);
	}
	.img-wrapper1 h2 {
		font-size: 64px;
	}
	.img-wrapper1 h3 {
		font-size: 28px;
	}
	.img-wrapper1 p {
		font-size: 16px;
	}
	.img-wrapper2 {
		background-size: 714px 504px;
		background-image: url(../img/imac_medium.jpg);
	}
	.img-wrapper3 {
		background-size: 1068px 601px;
		background-image: url(../img/macbookpro_tb_medium.jpg);
	}
	.img-wrapper4 {
		height: 515px;
		background-size: 700px 239px;
		background-image: url(../img/macbook_medium.jpg);
	}
	.img-wrapper5 {
		height: 599px;
		background-size: 662px 298px;
		background-image: url(../img/compare_medium.jpg);
	}
	.img-wrapper6 {
		height: 286px;
		background: #fafafa;
		line-height: 1.175;
	}
	.img-wrapper6 h2 {
		font-size: 36px;
	}
	.img-wrapper6 h3 {
		font-size: 20px;
	    line-height: 1.5;
	    font-weight: 300;
	}
	.img-wrapper7 {
		height: 362px;
		background-image: url(../img/mac_collegebeats_lockup_banner_medium.jpg);
		background-position: center center;
	}
	.img-wrapper7 h2 {
		margin: 0 auto;
		font-size: 28px;
		line-height: 1.23557;
	}
	.img-wrapper7 h3 {
		margin: 0 auto;
	    font-size: 17px;
	    line-height: 1.52947;
	    font-weight: 400;
	}
	.img-wrapper7 p {
		line-height: 1.52947;
		margin: 20px auto 0;
	}
	.trade-container {
		width: 100%;
	}
	.img-wrapper8 {
		height: 521px;
		background-image: url(../img/accessories_medium.jpg);
   	 	background-size: 1017px 448px;
   	 	background-position: left 100px;
   	 	background-repeat: no-repeat;
	}
	.img-wrapper9 {
		padding-bottom: 10px;
	}
	.img-wrapper9 .img-wrapper9-bg figure {
		background-image: url(../img/macos_icloud_medium.jpg);
		background-size: 625px 365px;
		width: 625px;
   		height: 365px;
	}
	.img-wrapper9-content {
		width: 60%;
	}
	.img-wrapper9-content h2 {
		font-size: 28px;
	}
	.img-wrapper9-content h3 {
		font-size: 16px;
	}
	.img-wrapper9-content p {
		font-size: 14px;
	}
	.img-wrapper10 {
		margin-bottom: 10px;
		background-image: url(../img/macos_highsierra_medium.jpg);
	}
	.img-wrapper10-container {
		height: 376px;
	}
	.img-wrapper10-container span {
		margin-left: 15%;
	}
	.img-wrapper10-container h2 {
		margin-left: 15%;
	}
	.img-wrapper10-container h3 {
		margin-left: 15%;
	}
	.img-wrapper10-container p {
		margin-left: 15%;
	}
	.img-wrapper11 {
		margin-bottom: 10px;
		padding-bottom: 0;
	}
	.img-wrapper11-container {
		padding-top: 40px;
	}
	.img-wrapper11-container h2 {
		font-size: 28px;
	}
	.img-wrapper11-container h4 {
		font-size: 18px;
	}
	.img-wrapper11-list2 {
		margin: 0 auto;
		width: 693px;
	}
	.img-wrapper11-list2 .figure-container {
		width: 474px;
  		height: 382px;
	    background: url(../img/bia_hw_medium.png) no-repeat;
	}
	.img-wrapper11-list2 figure {
		background-size: 100% auto;
	    width: 434px;
  		height: 244px;
	}
	.img-wrapper11-list2d .figure-container {
		width: 511px;
    	height: 298px;
	    background: url(../img/gallery_hw_medium.png) no-repeat;
	}
	.img-wrapper11-list2d figure {
		width: 393px;
    	height: 246px;
    	top: 16px;
    	left: 59px;
    	background-size: 100% auto;
	}
	.img-wrapper11-list2 .figure-wrapper {
		margin-left: -60px;
	}
	.img-wrapper12 {
		margin: 10px 0 50px;
	}
	.img-wrapper12 figure {
		height: 451px;
		background-image: url(../img/education_medium.jpg);
	}
	.img-wrapper12 h2 {
		font-size: 32px;
	}
	.img-wrapper13 figure {
		background-image: url(../img/business_updated_medium.jpg);
	}
}
@media only screen and (max-width: 767px) {
	.img-wrapper1 {
		padding-top: 50px;
  		height: 445px;
		background-size: 275px 283px;
		background-image: url(../img/imac_pro_small.jpg);
	}
	.img-wrapper11-list2d {
		height: 494px;
	}
	.img-wrapper1 h2 {
		font-size: 34px;
	}
	.img-wrapper1 h3 {
		font-size: 22px;
		line-height: .5;
	}
	.img-wrapper1 p {
		font-size: 16px;
	}
	.img-wrapper2 {
		height: 400px;
		background-position: center 150px; 
		background-size: 306px 216px;
		background-image: url(../img/imac_small.jpg);
	}
	.img-wrapper3 {
		height: 326px;
		background-size: 420px 147px;
		background-image: url(../img/macbookpro_tb_small.jpg);
		background-position: calc(50% + 1.5rem) bottom;
	}
	.img-wrapper4 {
		height: 315px;
		background-size: 312px 107px;
		background-image: url(../img/macbook_small.jpg);
	}
	.img-wrapper5 {
		height: 299px;
		background-size: 300px 124px;
		background-image: url(../img/compare_small.jpg);
		background-position: calc(50% + .3rem) 120px;
	}
	.img-wrapper6 {
		height: 226px;
		background: #fafafa;
		line-height: 1.175;
	}
	.img-wrapper6 h2 {
		font-size: 28px;
	}
	.img-wrapper6 h3 {
		font-size: 14px;
	    line-height: 1.5;
	    font-weight: 300;
	}
	.img-wrapper7 {
		width: 100%;
		padding: 0;
		height: 365px;
		background-image: url(../img/mac_collegebeats_lockup_banner_small.jpg);
		background-position: center top;
	}
	.img-wrapper7 h2 {
		text-align: center;
		padding-top: 20px;
		font-size: 22px;
		line-height: 1.23557;
	}
	.img-wrapper7 h3 {
		text-align: center;
	    font-size: 16px;
	    line-height: 1.52947;
	    font-weight: 400;
	}
	.img-wrapper7 p {
		text-align: center;
	}
	.trade-container {
		width: 100%;
		padding: 0;
	}
	.installment {
		margin-bottom: 100px;
		width: 100%;
	}
	.delivery {
		width: 100%;
	}
	.img-wrapper8 {
		height: 290px;
		background-image: url(../img/accessories_small.jpg);
   	 	background-size: 516px 150px;
   	 	background-position: calc(50% - 118px) bottom;
   	 	background-repeat: no-repeat;
	}
	.img-wrapper9-content {
		width: 100%;
	}
	.img-wrapper9 .img-wrapper9-bg figure {
		background-image: url(../img/macos_icloud_small.jpg);
		background-size: 274px 160px;
		width: 274px;
  		height: 160px;
	}	
	.img-wrapper9-left {
		float: none;
		width: 87.5%;
		margin: 0 auto;
	}
	.img-wrapper9-right {
		float: none;
		width: 87.5%;
		margin: 30px auto;
	}
	.img-wrapper10 {
		background-image: url(../img/macos_highsierra_small.jpg);
	}
	.img-wrapper10 span {
		margin-left: 7.5%;
	}
	.img-wrapper10 h2 {
		font-size: 24px;
		margin-left: 7.5%;
		width: 85%;
	}
	.img-wrapper10 h3 {
		margin-left: 7.5%;
		width: 85%;
	}
	.img-wrapper10 p {
		margin-left: 7.5%;
		width: 85%;
	}
	.img-wrapper11-container>h2{
		text-align: left;
	}
	.img-wrapper11-container>h4{
		text-align: left;
	}
	.img-wrapper11-list1 {
		width: 168px;
		margin: 0 auto;
		border-bottom: none;
		position: relative;
		z-index: 2;
		top: 250px;
	}
	.img-wrapper11-list1d {
		width: 120px;
	}
	.img-wrapper11-list1 li {
		width: 8px;
		height: 8px;
		border: 1px solid lightgray;
		border-radius: 50%;
		background: lightgray;
		margin: 0 7px;
		border-bottom: none;
		overflow: hidden;
	}
	.img-wrapper11-list1 li label {
		display: block;
		height: 8px;
		cursor: pointer;
	}
	.img-wrapper11-list1 li figure {
		display: none;
	}
	.img-wrapper11-list1 li span {
		display: none;
	}
	.img-wrapper11-list2 {
		position: relative;
		z-index: 1;
		width: 80%;
	}
	.img-wrapper11-list2 .figure-container {
	   	width: 264px;
   	 	height: 213px;
	    background: url(../img/bia_hw_small.png) no-repeat;
	}
	.img-wrapper11-list2 figure {
	   	width: 243px;
    	height: 137px;
    	left: 12px;
    	top: 12px;
    	background-size: 243px 137px;
	}
	.img-wrapper11-list2 .figure-wrapper {
		float: none;
		margin: 0 auto;
	}
	.img-wrapper11-list2 .figure-container {
		margin: 0 auto;
	}
	.img-wrapper11-list2 .figure-detail {
		float: none;
		padding-top: 40px;		
		width: 87.5%;
		margin: 0 auto;
	}
	.img-wrapper12 figure {
		height: 292px;
		background-position: 80% 0;
		background-size: auto 100%;
	}
	.img-wrapper13 figure {
		background-position: 55% 0;
	}
	#inner-radio-1:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(1),
	#inner-radio-2:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(2),
	#inner-radio-3:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(3),
	#inner-radio-4:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(4),
	#inner-radio-5:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(5),
	#inner-radio-6:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(6),
	#inner-radio-7:checked~.img-wrapper11 .img-wrapper11-list1c li:nth-of-type(7),
	#inner-radio-8:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(1),
	#inner-radio-9:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(2),
	#inner-radio-10:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(3),
	#inner-radio-11:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(4),
	#inner-radio-12:checked~.img-wrapper11 .img-wrapper11-list1d li:nth-of-type(5) 
	{
		background: gray;
	}
}
@media only screen and (max-width: 500px) {
	.img-wrapper11-list2 .figure-wrapper {
		width: 100%;
	}
	.img-wrapper11 {
		padding-bottom: 20px;
	}
}